.jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;

    -jfx-toggle-color: #0099ff;
    -jfx-untoggle-color: #FAFAFA;
    -jfx-toggle-line-color: #84c1ff;
    -jfx-untoggle-line-color: #BEBEBE;
}

.jfx-toggle-button Line {
    -fx-stroke: -jfx-untoggle-line-color;
}
.jfx-toggle-button:selected Line{
    -fx-stroke: -jfx-toggle-line-color;
}

.jfx-toggle-button Circle{
    -fx-fill: -jfx-untoggle-color;
}

.jfx-toggle-button:selected Circle{
    -fx-fill: -jfx-toggle-color;
}

.jfx-toggle-button .jfx-rippler {
    -jfx-rippler-fill: -jfx-untoggle-line-color;
}

.jfx-toggle-button:selected .jfx-rippler {
    -jfx-rippler-fill: -jfx-toggle-line-color;
}

/**
    button
 */
.button-raised{
    /*-fx-padding: 0.7em 0.57em;*/
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;


    -fx-background-color: #84c1ff;
    -fx-text-fill: #0099ff;
}

.fx-label{
    -fx-padding: 0.333333em 0 0.333333em 0;
}


/**
    text-field
 */
.jfx-text-field {
    -jfx-focus-color: #0099ff;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-text-field,
.jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #bebebe;
}

.jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label {
    -fx-text-fill: #D34336;
}

.jfx-text-field .error-icon {
    -fx-fill: #D34336;
}

.jfx-password-field {
    -jfx-focus-color: #0099ff;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-password-field,
.jfx-password-field:focused {
    -fx-prompt-text-fill: #bebebe;
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-password-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-password-field .error-label {
    -fx-text-fill: #D34336;
}

.jfx-password-field .error-icon {
    -fx-fill: #D34336;
}

